[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
polars = "*"
numpy = "*"
ipykernel = "*"
requests = "*"
bs4 = "*"
black = "*"
scikit-learn = "*"
"plotly.express" = "*"

[dev-packages]

[requires]
python_version = "3.9"
